body {
    margin:0;
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
}

p {
    color: rgb(1, 17, 12);
}

h1 {
    text-align: center;
    font-size: 25px;
}

div {
    margin:20px;
    width:100%;
}

#test {
    color:black;
    text-align: center;
    font-size: 50px;
}

/* puts everthing in the header inline.. */
header * {
    display: inline;
}

header {
    background-color: black;
    padding: 0%;
    height:100px;
    display: flex;
    align-items: center;
}
header img {
    position: absolute;
    height: 100px;
    top:0;
    right:0;
}

header a {
    color: white;
    text-decoration-line: none;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 50vh;
    height: max-content;
    font-size: 25px;
}

header a:hover {
    color: red;
}

footer {
    background-color: black;
    display:flex;
    align-items: center;
    height:60px;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration-line: none;
    padding-left: 15px;
    padding-right: 15px;
}

footer a:hover {
    color:red; 
}


table, th, td {
    border:3px solid black;
    border-collapse:collapse ;
}

.urctable td {
    column-width: 50px;
    padding-right:10px;
    text-align:center;
}

.playerstable{
    border-collapse: collapse;
    border-spacing: 0;
}

.playerstable th {
    border:3px solid white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.playerstable td {
    border:3px solid white;
    text-align: center;
    padding-bottom: 20px;
}

.playerstable a {
    color: black;
    text-decoration-line: none;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 50vh;
    height: max-content;
    font-size: 25px;
}

.playerstable a:hover{
    color:red;
}

.URC {
    float:left;
    width:45%;
    border:1px solid white;
}

.fix {
    float:right;
    width:45%;
    border:1px solid white;
}

.fixtable{
    border-collapse: collapse;
    border-spacing: 0;
    
}

.fixtable td {
    border:3px solid white;
    text-align: center;
    padding-bottom: 20px;
    width:25%;
}

#video {
    display: flex;
    width:100%;
    align-items: center;
}