body {
    margin:0;
    min-height: 100vh;   
}

p {
    color: rgb(1, 17, 12);
}

#test {
    color:black;
    text-align: center;
    font-size: 50px;
}

/* puts everthing in the header inline.. */
header * {
    display: inline;
}

header {
    background-color: black;
    padding: 0%;
    height:100px;
    display: flex;
    align-items: center;
}
header img {
    position: absolute;
    height: 100px;
    top:0;
    right:0;
}

header a {
    color: white;
    text-decoration-line: none;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 50vh;
    height: max-content;
    font-size: 25px;
}

header a:hover {
    color: red;
}

footer {
    background-color: black;
    display:flex;
    align-items: center;
    height:60px;
    min-height: 10vh;
    padding:0;
    margin:0;
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

footer a {
    color: white;
    text-decoration-line: none;
    padding-left: 15px;
    padding-right: 15px;
}

footer a:hover {
    color:red;
    
}

table,th,td {border:3px solid black;
border-collapse:collapse ;
}